body {
	/* background-color: #209CE2; */
	padding: 120px 0 0;
}
/*	Grid Header and logo
*/
.navbar-header {
	width: 100px;
}
img[alt="logo"] {
	padding: 10px;
}
/*	Grid
*/
th, td   { text-align: center; }
td       { color: BLACK; cursor: pointer; width: 3.125% }
td:hover { color: RED; }

.type-0, .type-1, .type-2, .type-2-X  { 
	background-color: #FD8F2E; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.type-1  { 
	background-image: url(torneos/MTO_Tennis_Ball.100.png); 
}
.type-2  { 
	background-color: #ED7F1E !important; 
	background-image: url(torneos/MTO_Tennis_Ball_100_top.png); 
	border-bottom: 0;
}
.type-2-X  { 
	background-color: #ED7F1E !important; 
	background-image: url(torneos/MTO_Tennis_Ball_100_bottom.png); 
	border-top: 0 !important;
}
.type-3  { background-color: #FFFFFF; 
		   background-position: center;
		   background-repeat: no-repeat;
		   background-size: contain;
		}
.type-3.aat  {
			background-image: url(torneos/AAT.jpg); 
		}
.type-3.ci  {
			background-image: url(torneos/Ci.jpg); 
		}
.type-3.faccma  {
			background-image: url(torneos/FACCMA.jpg); 
		}
.type-3.sha  {
			background-image: url(torneos/SHA.jpg); 
		}
.type-4  { background-color: #41B6f3; }
.type-5  { background-color: #AAAAAA; }
.type-6  { background-color: #FA58F4; }
.type-7  { background-color: #5858FA; }
.type-8  { background-color: #8258FA; }
.type-9  { background-color: #AC58FA; }

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-left: 1px solid #dddddd;
	height: 10px; 
	line-height: 10px;
}
.table>thead>tr, .table>tbody>tr, .table>tfoot>tr, 
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #333;
	color: WHEAT;
	height: 10px; 
	line-height: 10px;
}
/* slots */
/* .past		  { display: none; } */
.past    > th { color: #ff3434; }
.past    > td { cursor: not-allowed; }
.current > th { color: WHEAT; }
tbody      th { color: #4caf50; }

/* typeahead */
.token-removeable {
	border-bottom: 1px solid gold;
}
.token-removeable > .close-button {
	color: RED;
	font-size: 130%;
	margin-left: 1em;
}